//colors

$primary-100: #F9A175;
$primary-200: #F48A55;
$primary-300: #09093A;
$primary-400: #202035;
$primary-500: #050517;

//neutrals

$white: #ffff;
$neutral-200: #f4f5f7;
$neutral-300: #e1e1e1;
$neutral-400: #737581;
$neutral-500: #4a4b53;
$black: #0000;

//status colors

$success: #529E66;
$warning: #FFED42;
$error: #D0454C;






